@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --bg-primary: #14b8a6;
  --bg-light: #5eead4;
  --bg-darker: #115e59;
  --hover-primary: #0f766e;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

body {
  font-family: "Poppins", serif;
}

.wrapper {
  display: flex;
}

.main {
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
  background-color: #f5f5f5;
}

/* Sidebar Style Start */

#sidebar {
  width: 90px;
  min-width: 90px;
  transition: all 0.25s ease-in-out;
  background-color: var(--bg-primary);
  display: flex;
  flex-direction: column;
}

#sidebar:not(.active) .sidebar-logo,
#sidebar:not(.active) a.sidebar-link span {
  display: none;
}

#sidebar.active {
  width: 260px;
  min-width: 260px;
}

.toggle-btn {
  width: 30px;
  height: 30px;
  color: #fff;
  border-radius: 0.425rem;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-darker);
}

.toggle-btn i {
  color: #fff;
}

#sidebar.active .sidebar-logo,
#sidebar.active a.sidebar-link span {
  animation: fadeIn 0.25s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#sidebar.active .sidebar-logo img {
  max-height: 40px;
  margin-right: 10px;
  vertical-align: middle;
}

.sidebar-logo a {
  color: #fff;
  font-size: 1.15rem;
  font-weight: 600;
}

a.sidebar-link {
  padding: 0.625rem 1.625rem;
  color: #fff;
  display: block;
  white-space: nowrap;
  font-weight: 700;
  border-left: 3px solid transparent;
}

.sidebar-nav {
  padding: 0.7rem 0;
  flex: 1 1 auto;
  z-index: 10;
}

.sidebar-link i,
.dropdown-item i {
  font-size: 1.1rem;
  margin-right: 0.75rem;
}

a.sidebar-link:hover {
  background-color: var(--hover-primary);
  border-left: 3px solid #ed3237;
}

.sidebar-item {
  position: relative;
}

#sidebar:not(.active) .sidebar-item .sidebar-dropdown {
  position: absolute;
  top: 0;
  left: 90px;
  background-color: var(--hover-primary);
  padding: 0;
  min-width: 15em;
  display: none;
}

#sidebar:not(.active) .sidebar-item:hover .has-dropdown + .sidebar-dropdown {
  display: block;
  max-height: 15em;
  width: 100%;
  opacity: 1;
}

#sidebar.active .sidebar-dropdown {
  background: var(--hover-primary);
}

#sidebar.active .sidebar-link[data-bs-toggle="collapse"]::after {
  border: solid;
  border-width: 0 0.075rem 0.075rem 0;
  content: "";
  display: inline-block;
  padding: 2px;
  position: absolute;
  right: 1.5rem;
  top: 1.3rem;
  transform: rotate(-135deg);
  transition: all 0.2s ease-out;
}

#sidebar.active .sidebar-link[data-bs-toggle="collapse"].collapsed::after {
  transform: rotate(45deg);
  transition: all 0.2s ease-out;
}

.sidebar-dropdown .sidebar-link {
  position: relative;
  padding-left: 3rem;
  transition: all 0.5s;
}

.sidebar-dropdown a.sidebar-link::before {
  content: "";
  height: 0.125rem;
  width: 0.375rem;
  background-color: #ffffff80;
  position: absolute;
  left: 1.8rem;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.5;
}

.sidebar-dropdown a.sidebar-link:hover {
  background-color: transparent;
  border-left: 3px solid transparent;
  padding-left: 3.8rem;
  color: var(--bg-light);
}

/* Sidebar Style End */

.card.shadow {
  width: 90%;
  margin: 0 auto;
}

.table-responsive .table {
  border: 2px solid #999;
}
